{% extends "base.html.twig" %} {% block main %}

<div class="text-center">
  <h1 class="mb-3 mt-3">{{ titre1 }}</h1>
  <h2 class="mb-3">
    "Le site qui répertorie tout ce que vous devez faire au moins une fois dans
    votre vie !"
  </h2>
  <p class="mt-3 mb-3">
    Sur cette page, vous trouverez tous ce que vous devez faire dans votre vie!
    ...
  </p>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('img/img1.jpg') }}" class="card-img-top" alt="img1">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn bg-dark text-white">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('img/img2.jpg') }}" class="card-img-top" alt="img2">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn bg-dark text-white">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('img/img3.jpg') }}" class="card-img-top" alt="img3">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn bg-dark text-white">Go somewhere</a>
                </div>
              </div>
        </div>

    </div>
</div>

{% endblock %}
